body{
  background: lightsteelblue;
  color: #444;
}
.app-container .message{
  width: 90%;
  max-width: 960px;
  min-width: auto;
  max-height: 500px;
  min-height: 500px;
  overflow: auto;
  margin: auto;
  border-radius: 10px;
  box-shadow: 2px 4px 6px rgba(28, 6, 49, 0.1);
  background: white;
}
.error{
  color: #ff3f80;
  font-size: 14px;
}
button{
  text-decoration: none;
  background: #5ae4ca;
  color: white;
  font-weight: bold;
  border: 0;
  border-radius: 20px;
  padding: 10px 20px;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background:rgb(209, 207, 207);
  border-radius: 2px;
}
